body {
    background-color: tan;
    font-family: 'Indie Flower', cursive;
}

.name {
    text-decoration: underline;
}

.container {
   background-color: white; 
   text-align: center;
   width: 400px;
   height: 400px;
   margin-top: 100px;
   border-radius: 10px; 
}

.buttonsCenter {
    text-align: center;
    padding: 50px;
    font-size: 100px;
}

button:hover {
    background-color: brown;
}


#counter {
    font-size:300px;
}

@media only screen and (max-width: 414px) {
    .container {
        background-color: white; 
        text-align: center;
        width: 300px;
        height: 400px;
        margin-top: 100px;
        border-radius: 10px; 
    }

    .buttonsCenter {
        text-align: center;
        padding: 10px;
        font-size: 10px;
    }

    #counter {
        font-size:200px;
    }

    .btn {
        font-size: 19px;
    }
}

@media only screen and (min-width: 768px){
    .container {
        background-color: white; 
        text-align: center;
        width: 300px;
        height: 350px;
        margin-top: 100px;
        border-radius: 10px; 
    }

    .buttonsCenter {
        text-align: center;
        padding: 10px;
        font-size: 40px;
    }

    #counter {
        font-size:250px;
    }

    .btn {
        font-size: 50px;
    } 
}